RewriteEngine on
RewriteBase /

# Deny direct access to the next directories
RewriteRule ^nova-config/.*$ - [R=404,L]
RewriteRule ^nova-base/.*$ - [R=404,L]
RewriteRule ^nova-languages/.*$ - [R=404,L]

# All URL process by index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [PT,L]